@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" href="~/css/about.css" />

<html>
<head>

     <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:100,200,300,400,500,700,800,900" rel="stylesheet">
     
       
</head>
<body>
    
     <div class="col-md-6 col-sm-4">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="http://worldleague.2017.fivb.com/-/media/fivb2014/wl/wl2017/wl2017_cta-formula.jpg?bc=cccccc&h=260&la=en&w=460&hash=8F192658AE8DC5BA078C35A36E0287FEC5BB903A"/>
                             </div>
                        <div class="user">
                            <img class="img-circle" src="https://img1.etsystatic.com/101/0/12716321/isla_fullxfull.21648881_f1u3hen7.jpg"/>
                        </div>
                         <div class="content">
                            <div class="main">
                                <h3 class="name">Gaute Falklev</h3>
                                <p class="profession">Bachelor-Student</p>
                                <p class="text-center">"Fall down 7 times, stand up 8"</p>
                            </div>
                            <div class="footer">
                                <i class="fa fa-mail-forward"></i> Auto Rotation
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h2 class="text-center">Erfaring</h2>
                                <p class="text-center">Web design,Assembly, C++, C# and many others...</p>

                                <h2 class="text-center">Kontakt:</h2>
                                <p class="text-center">Epost: Gautefalk@hotmail.com</p>
                                <p class="text-center">Tlf: 9804xxxx</p>
                                
                                </div>
                        </div>
                      
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        
         </div>


 <div class="col-md-6 col-sm-4">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="http://worldleague.2017.fivb.com/-/media/fivb2014/wl/wl2017/wl2017_cta-formula.jpg?bc=cccccc&h=260&la=en&w=460&hash=8F192658AE8DC5BA078C35A36E0287FEC5BB903A"/>
                             </div>
                        <div class="user">
                            <img class="img-circle" src="https://img1.etsystatic.com/101/0/12716321/isla_fullxfull.21648881_f1u3hen7.jpg"/>
                        </div>
                         <div class="content">
                            <div class="main">
                                <h3 class="name">Gaute Falklev</h3>
                                <p class="profession">Bachelor-Student</p>
                                <p class="text-center">"Fall down 7 times, stand up 8"</p>
                            </div>
                            <div class="footer">
                                <i class="fa fa-mail-forward"></i> Auto Rotation
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h2 class="text-center">Erfaring</h2>
                                <p class="text-center">Web design,Assembly, C++, C# and many others...</p>

                                <h2 class="text-center">Kontakt:</h2>
                                <p class="text-center">Epost: Gautefalk@hotmail.com</p>
                                <p class="text-center">Tlf: 9804xxxx</p>
                                
                                </div>
                        </div>
                      
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        
         </div>
      
       <div class="col-md-6 col-sm-4">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="http://worldleague.2017.fivb.com/-/media/fivb2014/wl/wl2017/wl2017_cta-formula.jpg?bc=cccccc&h=260&la=en&w=460&hash=8F192658AE8DC5BA078C35A36E0287FEC5BB903A"/>
                             </div>
                        <div class="user">
                            <img class="img-circle" src="https://img1.etsystatic.com/101/0/12716321/isla_fullxfull.21648881_f1u3hen7.jpg"/>
                        </div>
                         <div class="content">
                            <div class="main">
                                <h3 class="name">Gaute Falklev</h3>
                                <p class="profession">Bachelor-Student</p>
                                <p class="text-center">"Fall down 7 times, stand up 8"</p>
                            </div>
                            <div class="footer">
                                <i class="fa fa-mail-forward"></i> Auto Rotation
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h2 class="text-center">Erfaring</h2>
                                <p class="text-center">Web design,Assembly, C++, C# and many others...</p>

                                <h2 class="text-center">Kontakt:</h2>
                                <p class="text-center">Epost: Gautefalk@hotmail.com</p>
                                <p class="text-center">Tlf: 9804xxxx</p>
                                
                                </div>
                        </div>
                      
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        
         </div>

          <div class="col-md-6 col-sm-4">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="http://worldleague.2017.fivb.com/-/media/fivb2014/wl/wl2017/wl2017_cta-formula.jpg?bc=cccccc&h=260&la=en&w=460&hash=8F192658AE8DC5BA078C35A36E0287FEC5BB903A"/>
                             </div>
                        <div class="user">
                            <img class="img-circle" src="https://img1.etsystatic.com/101/0/12716321/isla_fullxfull.21648881_f1u3hen7.jpg"/>
                        </div>
                         <div class="content">
                            <div class="main">
                                <h3 class="name">Gaute Falklev</h3>
                                <p class="profession">Bachelor-Student</p>
                                <p class="text-center">"Fall down 7 times, stand up 8"</p>
                            </div>
                            <div class="footer">
                                <i class="fa fa-mail-forward"></i> Auto Rotation
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h2 class="text-center">Erfaring</h2>
                                <p class="text-center">Web design,Assembly, C++, C# and many others...</p>

                                <h2 class="text-center">Kontakt:</h2>
                                <p class="text-center">Epost: Gautefalk@hotmail.com</p>
                                <p class="text-center">Tlf: 9804xxxx</p>
                                
                                </div>
                        </div>
                      
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        
         </div>
      


</body>
</html>
