@using Microsoft.AspNetCore.Mvc.Rendering
@using VolleyballPage.Models.HomeViewModels
@using VolleyballPage.ViewComponents
@model AdminViewModel
@{
    ViewData["Title"] = "Admin";
}

<h1> Her kan man se på alle lagene og hvilken region disse tilhører</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <form asp-controller="Home" asp-actions="Admin" method="post" class="form-horizontal" role="form">
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label" asp-for="Lag.Navn">Navn</label>
                            <input type="text" id="textarea" asp-for="Lag.Navn" placeholder="" class="form-control">
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(i => i.Region.Id, "Region", new { @class = "control-label" })
                            @Html.DropDownListFor(m => m.Region.Id, new SelectList(Model.Regions, "Id", "RegionNavn"), new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <button asp-action="Admin" asp-controller="Home" type="submit" style="margin-top:0.5cm" class="btn btn-success">Legg til</button>
                            </div>
                        </div>
                    </fieldset>
                </form>}
            else
            {
                <p>Logg deg inn som Admin for å redigere og lage nye elementer</p>}
        </div>
        <div class="col-lg-6">
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <form asp-controller="Home" asp-actions="Region" method="post" class="form-horizontal" role="form">
                    <fieldset>
                        <br />
                        <br />
                        <br />
                        <br />

                        <div class="form-group">
                            <label class="control-label" asp-for="Region.RegionNavn">Region</label>
                            <input type="text" id="textarea" asp-for="Region.RegionNavn" placeholder="" class="form-control">
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <button asp-action="Region" asp-controller="Home" type="submit" style="margin-top: 0.5cm" class="btn btn-success">Legg til</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            }
        </div>
    </div>




    <div class="widget stacked widget-table action-table container">
        <div class="widget-content row">
            <div class="col-lg-6" style="right: 2.6%;">
                @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "teamForm", @class = "form-inline" }))
                {
                    @Html.ValidationSummary(false)
                    <table class="table table-striped table-bordered">
                        <tbody>
                        <tr>
                            @(await Component.InvokeAsync<LagListen>())
                        </tr>
                        </tbody>
                    </table>
                }
            </div>
            <div class="col-lg-6" style="right: 2.6%;">
                @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "teamForm", @class = "form-inline" }))
                {
                    @Html.ValidationSummary(false)
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                @(await Component.InvokeAsync<RegionListen>())
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
