@{
    ViewData["Title"] = "Kontakt Oss";
}

<link rel="stylesheet" href="~/css/KontaktOss.css" />

<div class="center">
    <div class="col-sm-6">
            <div class="well" >
                <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:saddlebrown;"></i> Adresse:</h3>               
                <p style="margin-top:6%;line-height:35%">Universitetet I Agder / Campus Grimstad</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:saddlebrown;"></i> E-mail:</h3>
                <p style="margin-top:6%;line-height:35%">user@gmail.com</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-user fa-1x" style="line-height:6%;color:saddlebrown;"></i> Telefon:</h3>
                <p style="margin-top:6%;line-height:35%">XXXXXXXXX</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-yelp fa-1x" style="line-height:6%;color:saddlebrown;"></i> Nettside:</h3>
                <p style="margin-top:6%;line-height:35%"><a href="localhost:500">localhost:5000</a></p>
            </div>
        </div>
        <div class="col-sm-6">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2094.507637209982!2d8.574521815475865!3d58.334236697446094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4647ee430faa83ef%3A0xb655434e819c5787!2sUniversitetet+i+Agder!5e0!3m2!1sno!2sno!4v1495464687385"width="500" height="430" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        </div>
      
  
</div>
       


