@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Min profil";
}
<div class="container">
    <div class="row">
        <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
            <br>
            <p class=" text-info">Date??????</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">@UserManager.GetUserName(User)</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Email:</td>
                                        <td>@await UserManager.GetEmailAsync(await UserManager.GetUserAsync(User))</td>
                                    </tr>
                                    <tr>
                                        <td>Passord:</td>
                                        <td>*******</td>
                                    </tr>
                                    <tr>
                                        <td>Navn:</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Alder:</td>
                                        <td>@UserManager.GetUserAsync(User).Result.Age </td>
                                    </tr>
                                    <tr>
                                        <td>Posisjon:</td>
                                        <td>@UserManager.GetUserAsync(User).Result.Position</td>
                                    </tr>
                                    <tr>
                                        <td>Region:</td>
                                        <td>@UserManager.GetUserAsync(User).Result.Region</td>
                                    </tr>
                                    <tr>
                                        <td>Lag:</td>
                                        <td>@UserManager.GetUserAsync(User).Result.Lag</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-right">
                        <a data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>