@model Nyheter


@{
    ViewData["Title"] = "Nyhetsoppdatering";
}

<head>
    <link rel="stylesheet" href="~/css/nyheter.css"/>
</head>

<div class="row">
    <!-- profilbilde / profil -->
    <div class="col-md-3" style="margin-top: 10px">
        <div class="card hovercard">
            <div class="cardheader">

            </div>
            <div class="avatar">
                <img alt="" src="~/images/noProfilePicture.jpg">
            </div>
            <div class="info">
                <div class="title">
                    <a target="_blank" href="#">Ola Nordmann</a>
                </div>
                <div class="desc">Passionate designer</div>
                <div class="desc">Curious developer</div>
                <div class="desc">Tech geek</div>
            </div>
        </div>
        
        <!-- meny under profil -->
        <div>
            <nav class="navbar navbar-default">
                <li style="margin-top: 6px; margin-left: 12px"><a href="#">Min profil</a></li>
                <li style="margin-left: 12px"><a href="#">Meldinger</a></li>
                <li style="margin-left: 12px"><a href="#">Nyhetsoppdatering</a></li>
                <li style="margin-left: 12px"><a href="#">Four link</a></li>
                <li style="margin-left: 12px"><a href="#">Five link</a></li>
                <li style="margin-left: 12px"><a href="#">Six link</a></li>
                <li style="margin-left: 12px"><a href="#">Seven link</a></li>
                <li style="margin-bottom: 12px; margin-left: 12px"><a href="#">Last link</a></li>
            </nav>
        </div>
    </div>


    <!-- main page / feed -->
    <div class="col-md-6">

        @if (User.Identity.IsAuthenticated)
        {
            <div style="margin: 20px 0 20px 0">
                <form asp-controller="Home" asp-actions="Nyheter" method="post" class="form-horizontal" role="form">
                    <fieldset>
                        <!-- Label -->
                        <textarea id="message" class="form-control expand" style="resize: none; display: inline-block; height: 3em" name="Message" placeholder="Hva vil du dele?"></textarea>

                        <!-- Button -->
                        <button type="submit" class="btn btn-success" style="margin-top: 10px; float: right; display:inline-block; margin-left: 10px;">Publiser</button>
                    </fieldset>
                </form>
            </div>
        }

        <div>
            @(await Component.InvokeAsync<ViewComponents.NyheterList>())
        </div>
    </div>

    <!-- right side meny -->
    <div class="col-md-3" style="margin-top: 10px">
        
        <!-- meny -->
        <nav class="navbar navbar-default" style="margin: 10px 0 10px 0">
            <div style="margin-top: 6px; margin-left: 12px; margin-bottom: 5px"><b>Folk å følge</b></div>
            <li style="margin-left: 12px"><a href="https://www.facebook.com/gautehommfalk?fref=ts">Gaute Homme Falklev</a></li>
            <li style="margin-left: 12px"><a href="https://www.facebook.com/aleksandar.corovic.94?fref=ts">Aleksandar Corovic</a></li>
            <li style="margin-left: 12px"><a href="https://www.facebook.com/aznsama?fref=ts">Tore Ky Quan Lam</a></li>
            <li style="margin-left: 12px"><a href="https://www.facebook.com/baovienngo?fref=ts">Vien Bao Ngo</a></li>
            <li style="margin-left: 12px"><a href="https://www.facebook.com/Anders.Ghouchbar?fref=ts">Anders Ghouchbar</a></li>
            <li style="margin-left: 12px"><a href="https://www.facebook.com/Dozzoo?fref=ts">Kristoffer André Kalseth Myhren</a></li>
            <li style="margin-bottom: 12px; margin-left: 12px"><a href="https://www.facebook.com/haoivu?fref=ts">Hao Nhien Vu</a></li>
        </nav> 
    </div>
</div>
