@model Lag

<div>
    <input type="text" asp-for="Navn" id="name-@Model.Id" value="@Model.Navn" required data-val="true" data-val-required="The Navn field is required." />
    <input disabled="disabled" type="text" asp-for="Region" id="msg-@Model.Id" value="@Model.Region"/>    
    <button type="button" onClick="DeleteLag(@Model.Id);" id="deletebtn @Model.Id" class="btn btn-default btn-sm" title="Slett lag">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
    <button type="button" onclick="EditLag(@Model.Id)" id="editbtn @Model.Id" class="btn btn-default btn-sm" title="Oppdater lag">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>
</div>

