﻿@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VSociety - @ViewData["Title"]</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/lib/jquery.dialog/build/jquery.dialog.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link href="~/lib/jquery.dialog/build/jquery.dialog.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/nb_NO/sdk.js#xfbml=1&version=v2.9";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    <div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="background-color: transparent">

            <div id="headertext">
                <h1>Volleyball Society</h1>
            </div>
            <div id="quote">
                <p> La oss samle Volleyballen </p>
            </div>

            <div class="nav-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- searchbar in navbar -->
                <div class="col-md-3">
                    <form class="navbar-form" role="search">
                        <div class="input-group" data-ng-app="app" data-ng-controller="userTeamController">
                            <input ng-change="ShowTeamUserPopup();" list="testList" type="text" class="form-control" data-ng-model="selected.input" placeholder="Trykk her for å søke" />
                            <datalist id="testList">
                                <select>
                                    <option data-ng-model="selected.teamUser" data-ng-repeat="x1 in names" data-id="selected.teamUser" value="{{x1.value}}" />
                                </select>
                            </datalist>
                            <div class="input-group-btn">
                                <button class="btn btn-default" ng-click="GetTeamUsers($event);" type="button">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li><a asp-area="" asp-controller="Home" asp-action="Nyheter">Nyheter</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>

                        @if (User.IsInRole("Admin"))
                        {
                            <li><a asp-area="" asp-controller="Home" asp-action="Admin">Admin page</a></li>
                        }


                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li><a asp-area="" asp-controller="Home" asp-action="MinProfil">Min profil</a></li>
                        }

                        else
                        { }
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>

        </div>
    </div>





    <div class="container body-content whitediv" style="margin-top: 111px;">
        @RenderBody()
    </div>
    <!-- footer -->

    <footer>
        <div class="container body-content footertext">VolleyballPage &copy; 2017. All rights reserved.</div>
        <br>
        <a asp-area="" asp-controller="Home" asp-action="KontaktOss" class="footertext"> Kontakt Oss!</a>

    </footer>



    <!-- scroll to top button -->
    <a href="#" id="return-to-top" data-toggle="tooltip">
        <i class="glyphicon glyphicon-chevron-up"></i>
    </a>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/jquery.dialog/build/jquery.dialog.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.js"></script>

        @*Angular Material Library*@
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <script src="~/js/autocompleteAndModal.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script src="~/js/nyheter.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/jquery.dialog/build/jquery.dialog.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
        <script src="~/js/autocompleteAndModal.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>




