@using VolleyballPage.Models.HomeViewModels
@model AdminViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
	<form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hei @UserManager.GetUserName(User)!</a>
			</li>
			<li>
				
				<button type="submit" class="btn btn-link navbar-btn navbar-link" style="color:saddlebrown;">Logg ut</button>
				
			</li>
		</ul>
	</form>
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>

		<li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logg inn <span class="caret"></span></a>
			<ul id="login-dp" class="dropdown-menu">
				<li>
					 <div class="row">
							<div class="col-md-12">
								 <form asp-controller="Account"
									asp-action="Login"
									asp-route-returnurl="@ViewData["ReturnUrl"]"
									method="post" class="form-horizontal"
									accept-charset="UTF-8" id="login-dp">
										<div class="form-group">
											<input asp-for="LoginViewModel.Email" class="form-control" placeholder="Email-adresse" required>
										</div>

										<div class="form-group">
											<input asp-for="LoginViewModel.Password" class="form-control" placeholder="Passord" required>
											<div class="help-block text-right"><a href="">Glemt passord?</a></div>
										</div>

										<div class="form-group">
											<button type="submit" class="btn btn-primary btn-block">Logg inn</button>
										</div>

										<div class="form-group">
											<div class="checkbox">
												<label asp-for="LoginViewModel.RememberMe">
													<input asp-for="LoginViewModel.RememberMe" />
														@Html.DisplayNameFor(m => m.LoginViewModel.RememberMe)
												</label>
											</div>
										</div>
								 </form>
							</div>
					 </div>
				</li>
			</ul>
		</li>
	</ul>
}