@using VolleyballPage.Models.HomeViewModels
@model AdminViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="col-lg-12">
    <form id="login-form" asp-controller="Account"
    asp-action="Login"
    asp-reroute-returnurl="@ViewData["ReturnUrl"]"
    method="post" class="form-horizontal"
    accept-charset="UTF-8">

        <div class="form-group">
            <input asp-for="LoginViewModel.Email" class="form-control" placeholder="Epost-adresse" required>
        </div>

        <div class="form-group">
            <input asp-for="LoginViewModel.Password" class="form-control" placeholder="Passord" required>
        </div>

        <div class="form-group text-center">
            <div class="checkbox" style="margin-bottom: 10px">
                <label asp-for="LoginViewModel.RememberMe">
                    <input asp-for="LoginViewModel.RememberMe"/>
                        @Html.DisplayNameFor(m => m.LoginViewModel.RememberMe)
                </label>
            </div>
        
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="LOGG INN">
                </div>
            </div>

            <div class="row" style="margin-top: 10px">
                <div class="col-lg-12">
                    <div class="text-center">
                        <a href="" class="forgot-password">Glemt passord?</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>