@model Nyheter
@{
    var pan = "pan"+@Model.Id;
    <div id = "@pan" class="panel panel-primary">

    <div class="panel-heading">
        @{
            var name = "name"+@Model.Id;
            <label>@Model.Email</label>
        }
        @if(User.Identity.Name == @Model.Email)
        {
            var savebtn = "savebtn"+@Model.Id;
            var editbtn = "editbtn"+@Model.Id;

            var savetxt = "savetxt"+@Model.Id;
            var edittxt = "edittxt"+@Model.Id;

            var deletebtn = "deletebtn"+@Model.Id;

            <button id="@deletebtn" class="btn btn-default btn-xs" style="float: right;" title="Delete post"> <span class="glyphicon glyphicon-remove"></span></button>
            <div id="@deletebtn" style="float: right; margin-right: 10px; margin-left: 10px">Delete</div>

            <button id="@savebtn" class="btn btn-default btn-xs" style="float: right;" title="Save Changes"> <span class="glyphicon glyphicon-floppy-saved"></span></button>
            <button id="@editbtn" class="btn btn-default btn-xs" style="float: right;" title="Edit post"> <span class="glyphicon glyphicon-edit"></span></button>
            <div id="@edittxt" style="float: right; margin-right: 10px">Edit</div>
            <div id="@savetxt" style="float: right; margin-right: 10px">Save</div>
        }
    </div>
    <div class="panel-body" style="height: auto">
        @{
            var msg = "msg"+@Model.Id;
            <textarea class="msg msgnoborder" style="resize: none; width: 100%; height: 100%; position: relative" id="@msg" disabled> @Model.Message </textarea>

        }

    </div>
</div>
}