@model Region

<div>
    <input type="text" asp-for="RegionNavn" id="msg-@Model.Id" value="@Model.RegionNavn"/>
    <button type="button" onClick="DeleteRegion(@Model.Id);" id="deletebtn @Model.Id" class="btn btn-default btn-sm" title="Slett lag">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
    <button type="button" onclick="EditRegion(@Model.Id)" id="editbtn @Model.Id" class="btn btn-default btn-sm" title="Oppdater lag">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>
</div>

