﻿<div>
    <md-dialog aria-label="{{ctrl.data.caption}}">
        <form ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>{{ctrl.data.caption}}</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="../icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div layout="column" layout-align="center center" class="md-dialog-content">
                    <div flex-xs flex-gt-xs="50" layout="column">
                        <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                            <md-card-title>
                                <md-card-title-media>
                                    <div class="md-media-sm card-media" style="height: 50px;">
                                        <div layout="column" layout-align="center center" class="avatar">
                                            <img alt="" src="../images/noProfilePicture.jpg" height="51">
                                        </div>
                                    </div>
                                </md-card-title-media>
                            </md-card-title>
                        </md-card>
                    </div>
                </div>
                <md-content>
                    <md-list>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <h3>Alder</h3>
                            </div>
                            <h3>{{ctrl.data.age}}</h3>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <h3>Posisjon</h3>
                            </div>
                            <h3>{{ctrl.data.position}}</h3>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <h3>Region</h3>
                            </div>
                            <h3>{{ctrl.data.region}}</h3>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <h3>Lag</h3>
                            </div>
                            <h3>{{ctrl.data.lag}}</h3>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-dialog-content>
        </form>
    </md-dialog>
</div>