html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url("../../images/backgroundImage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin: 0px 0 100px;
    /* bottom = footer height */
    padding: 40px;
    padding-top: 90px;
}

.whitediv {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
}

#navbar .container .nav-container .navbar-collapse ul a {
    color: saddlebrown
}

ul li:hover {
    background-color: grey !important;
}

a:hover {
    background-color: grey !important;
}

.btn:hover {
    background-color: grey !important;
}

#navbar {
    position: absolute;
    background-color: cadetblue;
}

.f-nav {
    position: fixed !important;
    left: 0;
    top: -130px;
    width: 100%;
    background-color: cadetblue;
}

.nav-container {
    margin-top: 40px;
}

    .nav-container .navbar-header a {
        color: saddlebrown;
    }

        .nav-container .navbar-header a:hover {
            color: saddlebrown;
        }


/*Dette er headeren som blir endret på*/


/*Overskriften i headeren*/

#headertext {
    color: saddlebrown;
    text-align: center;
    font-weight: 100;
}


/*Teksten under overskriften i headeren*/

#quote {
    color: saddlebrown;
    text-align: center;
    font-style: italic;
}


/*Dette er footeren i bunnen av siden*/

footer {
    background-color: cadetblue;
    /*position: absolute;*/ /*Messes with angular material*/
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align: center;
}


/* Wrapping element */


/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.form-group {
    margin-top: 0.5cm;
}


/* Set widths on the form inputs since otherwise they're 100% wide */

input,
select {
    max-width: 280px;
}


/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}


/* buttons and links extension to use brackets: [ click me ] */

.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}


/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}


/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.footertext {
    color: saddlebrown;
    margin-top: 15px;
    font-weight: 100;
}

    .footertext:hover {
        color: saddlebrown;
        font-style: normal;
    }

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

    #return-to-top i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        font-size: 19px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    #return-to-top:hover {
        background: rgba(0, 0, 0, 0.9);
    }

        #return-to-top:hover i {
            color: #fff;
            top: 5px;
        }


/* Login drop down menu css */

#login-dp {
    min-width: 250px;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

    #login-dp .help-block {
        font-size: 12px
    }

    #login-dp .bottom {
        background-color: rgb(255, 255, 255);
        border-top: 1px solid #ddd;
        clear: both;
        padding: 14px;
    }

    #login-dp .form-group {
        margin-bottom: 10px;
    }

@media(max-width:768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

        #login-dp .bottom {
            background-color: inherit;
            border-top: 0 none;
        }
}

.searchbar {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 20px 20px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

    .searchbar:focus {
        width: 100%;
    }

.dialogdemoBasicUsage #popupContainer {
    position: relative;
}

.dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px;
}

    .dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
        font-size: 0.8em;
        margin-top: 50px;
    }

.dialogdemoBasicUsage button {
    width: 200px;
}

.dialogdemoBasicUsage div#status {
    color: #c60008;
}

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
    margin-bottom: 0;
}

.modal {
    overflow: hidden;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-header h4 {
    margin: 0;
}

.modal-content {
    height: auto !important;
    max-height: calc(100vh - 340px) !important;
}

.content-row {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.content-row:last-child {
    border-bottom: none;
}

.icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #33b5e5;
    color: #fff;
}

.name {
    padding: 0 10px;
}

.role {
    padding: 0 10px;
    flex: 1;
    text-align: right;
}

.md-dialog-container {
    z-index: 5000;
}

md-dialog .md-dialog-content {
    padding: 0;
}