@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<head>
    <link rel="stylesheet" href="~/css/register.css">
    <script src="~/js/register.js"></script>
</head>


<center><h2>@ViewData["Title"].</h2></center>
<body>
    <div class="container">
        <center>
            <div class="stepwizard">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step">
                        <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                        <p>Step 1</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                        <p>Step 2</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                        <p>Step 3</p>
                    </div>
                </div>
            </div>
        </center>

        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row setup-content" id="step-1">
                <center>
                    <div class="col-xs-12">
                        <div class="col-md-12">
                            <h3>Lag ny bruker</h3>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" placeholder="bruker@volleyballsociety.com" required="required" autofocus />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" placeholder="*********" required="required" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="control-label"></label>
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="*********" required="required" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button id="btnStepOneNext" class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
                        </div>
                    </div>
                </center>
            </div>
            <div class="row setup-content" id="step-2">
                <center>
                    <div class="col-xs-12">
                        <div class="col-md-12">
                            <h3>Kontaktinformasjon</h3>
                            <div class="form-group">
                                <label asp-for="FullName" class="control-label">Navn</label>
                                <input asp-for="FullName" placeholder="Navn" required="required" class="form-control">
                            </div>
                            <div class="form-group">
                                <label asp-for="Age" class="control-label">Alder</label>
                                <input asp-for="Age" placeholder="18" class="form-control">
                                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
            <div class="row setup-content" id="step-3">
                <center>
                    <div class="col-xs-12">
                        <div class="col-md-12">
                            <h3>Posisjon og region</h3>
                            <div class="form-group">
                                <label asp-for="Position" class="control-label">Posisjon</label>
                                <select asp-for="Position" class="form-control">
                                    <option value="" selected disabled>Velg</option>
                                    <option value="Diagonal">Diagonal</option>
                                    <option value="Kant">Kant</option>
                                    <option value="Libero">Libero</option>
                                    <option value="Midt">Midt/Center</option>
                                    <option value="Opplegger">Opplegger</option>
                                    <option value="Trener">Trener</option>
                                    <option value="VetIkke">Vet ikke</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Region" class="control-label">Region</label>
                                <select asp-for="Region" class="form-control">
                                    <option value="" selected disabled>Velg</option>
                                    <option value="Agder">Agder</option>
                                    <option value="Hordaland">Hordaland</option>
                                    <option value="MøreRomsdal">Møre og Romsdal</option>
                                    <option value="Nord">Nord</option>
                                    <option value="Rogaland">Rogaland</option>
                                    <option value="SognFjordane">Sogn og Fjordane</option>
                                    <option value="Trøndelag">Trøndelag</option>
                                    <option value="Øst">Øst</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Lag" class="control-label">Lag</label>
                                <select asp-for="Lag" class="form-control"></select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary nextBtn btn-lg pull-right">Register</button>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
        </form>
    </div>
</body>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
